*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #227C70;
    /* height: 110px; */
    height:5rem;
    width: 100%;
    position: fixed;
}

.menu{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fonts > a {
    font-size: 3rem;
    color: #000;
}

.logo img{
    height:5rem;
    width: auto;

}

footer{
    background-color: #227C70;
    height: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-icons > span{
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-fonts > a{
    font-size: 2rem;
    color: #000;
}

